* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.container {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/*************************Top Nav*******************************/
.topNav {
    background-color: hsl(217, 28%, 15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 70px 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.topNav img {
    width: 100%;
    max-width: 176px;
    height: auto;
}

.topNav .menu a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 60px;
}

.topNav a:hover {
    color: #60e8da;
}


/*************************Header*******************************/
.header {
    background-color: hsl(217, 28%, 15%);
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.header img {
    margin: 0 auto;
}

.header h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 160%;
    margin: 60px auto auto auto;
    width: 720px;

}

.header span {
    line-height: 160%;
    margin: 60px auto auto auto;
    width: 410px;
}

.header button {
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 39px auto 170px auto ;
    padding: 25px 95px 22px;
    width: 280px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700 ;
    color: #ffffff;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%) , hsl(198, 60%, 50%));
}

.header button:hover {
    opacity: 0.8;
}
/*************************Services*******************************/
.services {
    background-color: hsl(218, 28%, 13%);
}

.haut , .bas {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    width: 920px;
}

.haut h3 , .bas h3 {
    line-height: 250%;
}

.item {
    padding: 40px;
    width: 50%;
}

/*************************Productive*******************************/

.productive {
    background-color: hsl(218, 28%, 13%);
    display: flex;
    padding-top: 150px;
    margin: 0 auto;
    
}

.left, .right {
    color:#ffffff;
    margin: 0 auto;
    width: 620px;
}

.left img {
    width: 100%;
    max-width: 615px;
    height: auto;
}

.right {
    margin: auto auto auto 0;
}

.lien {
    display: flex;
}
.lien a {
    color: #5e9192;
    padding-right: 9px;
}

.lien a:hover {
    color: #60e8da;
}

.productive h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 160%;
}


/*************************Card*******************************/
#quotes {
    height: 50px;
    width: 60px;
    transform: translate(65px, 135px);
}

.cardContainer {
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: center;
}  

.card {
    background-color: hsl(217, 28%, 15%);
    border-radius: 5px;
    color:#ffffff;
    margin: 175px 16px 100px 16px;
    padding: 45px 25px;
    width: 360px;
}

.card .id {
    display: flex;
    align-items: center;
}
.card img {
    border-radius: 25px;
    height: 27px;
    width: 27px;
}

.id {
    padding-top: 32px;
}
.id .name {
    font-size: 10px;
}
.id .name span{
    opacity: 0.5;
}

.idImg {
    padding-right: 8px;
}

/*************************Acces*******************************/
.acces {
    background-color: hsl(218, 28%, 13%);
    color: #ffffff;

}

.innerAcces {
    align-items: center;
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-height: 274px;
    max-width: 864px;
    padding: 60px 122px 40px;
    text-align: center;
    transform: translateY(116px);
}

.innerAcces h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.innerAcces span {
    line-height: 160%;
    margin-top: 35px;
}

form {
    margin-top: 43px;
    width: 720px;
}
input {
    border: none;
    border-radius: 40px;
    text-align: center;
}

input[type=email]{
    border: none;
    cursor: pointer;
    height: 48px;
    margin-right: 29px;
    width: 480px;
    text-align: left;
    padding-left: 72px;
}

input[type=submit]{
    background-image: linear-gradient(to right, hsl(176, 68%, 64%) , hsl(198, 60%, 50%));
    border: none;
    color: #ffffff;
    cursor: pointer;
    height: 48px;
    width: 200px;
}

input[type=submit]:hover{
    opacity: 0.8;
}


.error {
    padding-right: 390px;
    padding-top: 10px;
    font-size: 11px;
    color: hsl(0, 100%, 63%)
    ;
}
/*************************Footer*******************************/

.footer {
    background-color: hsl(216, 53%, 9%);
    color: #ffffff;
}

.footer a {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}

.footer a:hover {
    color: #60e8da;
}
.innerFooter {
    padding: 170px 120px 120px 120px;
    margin: 0 auto;

}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

#contact1 {
    display: flex;
    align-items: center;
    line-height: 160%;
    width: 300px;
}

.fa-map-marker-alt {
    font-size: 20px;
    padding-right: 45px;
}

#contact2 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 300%;
    width: 300px;
}
.fa-phone-alt {
    font-size: 20px;
    padding-right: 25px;
}

#contact3 {
    display: flex;
    line-height: 300%;
    flex-direction: column;
    width: 150px;
}

#contact4 {
    display: flex;
    line-height: 300%;
    flex-direction: column;
    width: 150px;
}

#contact5 {
    display: flex;
    font-size: 20px;
    line-height: 300%;
    width: 200px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram{
    cursor: pointer;
    margin-right: 13px;
    height: 31px;
    width: 31px;
    border : 1px solid #ffffff;
    border-radius: 50%;
}

.fa-facebook-f {
    padding-top: 5px;
    padding-left: 8px;
}

#contact5 a {
    color: #ffffff;
    text-decoration: none;
}

.fa-facebook-f:hover{
    color: #60e8da;
    border : 1px solid #60e8da;
}

.fa-twitter{
    padding-top: 5px;
    padding-left: 5px;
}

.fa-twitter:hover{
    color: #60e8da;
    border : 1px solid #60e8da;
}

.fa-instagram{
    padding-top: 5px;
    padding-left: 6px;
}

.fa-instagram:hover{
    color: #60e8da;
    border : 1px solid #60e8da;
}


/**********************************************************************/
@media screen and (max-width: 1000px){
    .haut, .bas {
        width: 600px;
    }

    .left, .right {
        padding: 0 40px;
        width: 500px;
    }
    .contact {
        display: block;
    }

    #contact2 {
        display: block;
        margin-top: 20px;
    }

    #contact3, #contact4, #contact5 {
        margin-top: 60px;
    }

    #contact5 {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (min-width: 374px) and (max-width: 768px){
    .topNav {
        padding: 70px 20px;
    }

    .topNav img {
        width: 125px;
    }
    .topNav .menu a {
        padding-left: 6px;
    }

    .header {
        background-image: url(images/bg-curvy-mobile.svg);
    }

    .header img {
        width: 100%;
        max-width: 335px;
        height: auto;
    }

    .header h2 {
        font-size: 30px;
        line-height: 160%;
        margin: 60px auto auto auto;
        max-width: 335px;
    }

    .header span {
        max-width: 335px;
    }

    .header button {
        margin: 39px auto 100px auto;
    }

    .haut, .bas {
        width: 335px;
        flex-direction: column;
    }

    .item {
        padding: 0;
        margin-bottom: 100px;
        width: 100%;
    }
    
    .productive {
        background-color: hsl(218, 28%, 13%);
        display: flex;
        padding-top: 0;
        margin: 0 auto;
        flex-direction: column;
        padding: 0 20px;
    }

    .left, .right {
        padding: 0;
        margin: 0 auto;
        margin-bottom: 50px;
        width: 335px;
    }

    .cardContainer {
        flex-direction: column;
        margin: 0 auto;
        padding: 0 20px;
    }

    .card {
        margin: 16px auto 16px auto;
        width: 335px;
    }

    .innerAcces {
        width: 335px;
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        max-height: none;
        transform: translateY(210px);
    }

    form {
        width: 335px;
    }

    input[type="email"] {
        cursor: pointer;
        height: 48px;
        margin-right: 0;
        width: 300px;
        text-align: center;
        padding-left: 0;
    }
    input[type="submit"] {
        margin-top: 20px;
    }

    .footer {
        padding: 290px 20px 80px 20px
    }

    .innerFooter {
        padding: 0;
        margin: 0 auto;
    }
}